.banar{
    display: flex;
    background-color: #FFF;
    width: 1920;
    height: 130;
}

.logo{
    display: flex;
    gap: 10px;
    margin-left: 240px;
    margin-top: 14px;
    text-align: center;
}

.banar-batunr{
    display: flex;
    text-decoration: none;
    gap: 20px;
    text-align: center;
    margin-left: 900px;
    list-style: none;
    align-items: center;
}

.url{
    text-decoration: none;
    color: #3C354F;
}

.mane-button{
    width: 262px;
    height: 56px;
}

.mane-hader{
    background-image: url("./images/Group\ 14.png");
    width: 900px;
    height: 700px;
    padding-top: 50px;
    padding-left: 50px;
}

li{
    list-style: none;
}

.sign-in{
    padding: 21px 40px;
    background-color: plum;
    border-radius: 48px;
    border: none;
}

.go-rogue{
    padding: 21px 40px;
    background-color: rgb(0, 183, 255);
    border-radius: 48px;
    border: none;

}

.heder{
    display: flex;
}

.goat{
    font-size: 90px;
    color: rgb(90, 0, 99);
}

.we-are{
    width: 1920px;
    height: 600px;
    background-color: #fae9f2;
    padding-left: 30px;
    display: flex; 
    gap: 300px;
}

.we-are-heder{
    font-size: 48px;
    color: #68006b;
    text-align: right;
}

.we-are-p{
    text-align: right;
}

.online-gamer{
    margin-left: 800px;
}

.images-comtenar{
    display: flex;
    gap: 30px;
    margin-left: 250px;
}

.funny-video{
    color: #bf00c5;
}

.play-instantly{
    display: flex;
    margin-left: 450px;
    gap: 25px;
}

.play-text{
    text-align: right;
    margin-top: 200px;
}

.play-image{
    margin-right: 200px;
}

.footer-1{
    background-color: #0B0223;
    color: white;
    width: 1900px;
    height: 650px;
}

.footer-li{
    display: flex;
    margin-left: 700px;
    gap: 60px;
}

.foter-hading{
    display: flex;
    margin-left: 700px;
    gap: 25px;
    padding: 100px;
}